.d1{
    width: 900px;
}
.p1{
    color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;
margin-left: 359px;
}
.p2{
    color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;
display: flex;
margin-left: 340px;
}
.d2{
    width: 1920px;
height: 61px;
flex-shrink: 0;
background: #0152A8;
display: flex;
}
.d3{
    margin-top: 47px;
    display: flex;
}
.i2{
    width: 61.394px;
height: 57.837px;
flex-shrink: 0;
margin-left: 361.5px;
}
.p3{
    color: #1C1C1C;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    display: flex;
}
ol{
    display: flex;
width: 580px;
height: 85px;
padding: 83.08px 518.804px 0px 0px;
align-items: center;
flex-shrink: 0;
margin-left: 100px;
margin-top: -80px;
}
li{
    list-style: none;
    color: #1C1C1C;
    font-size: 25px;
    margin-left: 40px;
}
li:hover{
    list-style: none;
    color: #1935a7;
    font-size: 25px;
    margin-left: 40px;
    border-bottom: 5px solid blue;
}
.btn1{
padding: 16px 37px;
gap: 10px;
background: #0FE3AF;
color: #363636;
text-align: right;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 160%;
margin-left: -250px;
border: 1px solid #0FE3AF;
}
.p4{
    position: absolute;
    display: flex;
flex-direction: column;
flex-shrink: 0;
color: #1C1C1C;
text-align: center;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 114.5%;
width: 1779.122px;
height: 1186.226px;
margin-top: -200px;
}
.i3{
    margin: 0 auto;
    margin-left: 70px;
}
.d9{
    display: flex;
width: 285.274px;
padding: 45px 30px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
margin-left: 50px;
background: #F1F1F1;
padding: 45px;
}
.d13{
    display: flex;
    margin-left: 100px;
    margin-top: 21px;

}
.d5{
    display: flex;
    margin-left: 100px;
    margin-top: 200px;
}
.p5{
    color: #1C1C1C;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 114.5%;
}
.d10{
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    margin-left: 50px;
    background: #F1F1F1;
}
.p6{
    display: flex;
width: 225.274px;
height: 72.581px;
flex-direction: column;
color: #545454;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 142%;
}
.i6{
    width: 307.626px;
    height: 461.383px;
    flex-shrink: 0;
}
.i7{
    height: 528.02px;
width: 352.056px;
}
.d11{
    display: flex;
width: 285.274px;
padding: 45px 30px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
margin-left: 50px;
background: #F1F1F1;
padding: 45px;
margin-left: 120px;
}
.d16{
    background-color: beige;
}
.m1{
    color: #1935a7;
}
.b1{
    color: #0152A8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0FE3AF;
}
.container{
    margin-top: 50px;
    margin-left: 180px;
}
.alone{
    background: rgba(255, 255, 255, 0.86);
    display: flex;
    width: 328px;
    padding: 46px 31px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;padding: 15px;
    text-align: center;
    position: relative;
    top: -400px;
    left: 400px;
}
.TIMe{
    border: 1px solid black;
color: #1C1C1C;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 142%;
letter-spacing: 5.81px;
text-transform: uppercase;
margin-left: 130px;
}
h1{
    margin-left: 50px;
}
p{
    margin-left: 30px;
}
.asos{
    margin-left: -180px;
    display: flex;
    padding: 162px 360px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #0152A8;
    color: white;
}
.tea{
width: 84.903px;
height: 26.878px;
flex-shrink: 0;
border: 1px solid white;
}
.the{
    position: relative;
    margin-left: 28px;
color: #FFF;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 130%;
}
a{
    position: relative;
    width: 150px;
    left:904px;
    top: -95px;
display: flex;
padding: 17px 31px;
justify-content: center;
align-items: center;
background: white;
gap: 10px;
text-decoration: none;
}
.rasm1{
    margin-left: -160px;
    background-color: rgba(0, 74, 153, 1);
    width: 350px;
    height: 500px;
}

.rasm2{
    background-color: rgba(0, 74, 153, 1);
    width: 350px;
    height: 500px;
    margin-left: 50px;
}
.yet{
    margin-left: -150px;
}
.rasm3{
    background-color: rgba(0, 74, 153, 1);
    width: 350px;
    height: 500px;
    margin-left: 50px;
}
a:hover{   
background: #0FE3AF;
}
.rasm{
    display: flex;
}
.ml{
    margin-left: 68px;
}
.ml1{
    margin-left: 25px;
    margin-top: 30px;
}
.qwerty{
    text-align: center;
    align-items: center;
}
.qwerty1{
    margin-left: 130px;
}

.qwerty2{
    margin-left: 145px;
}
.asil{
    display: flex;
    margin-left: -200px;
}
.ok{
    margin-left: 150px;
}
.yea{
    margin-left: 150px;
}
.d12{
    margin-top: 100px;
    margin-left: 300px;
}
.opition{
    margin-left: 200px;
    display: flex;
    background-color:#E5F2EF;;
}
.input{
    width: 300px;
    height: 50px;
}
button{
    width: 300px;
    height: 50px;
    background-color: #0152A8;
}
.d14{
    margin-left: 92px;
}
.d15{
    margin-left: 92px;
}
.dr{
    margin-left: 92px;
}
.d17{
    margin-left: 92px;
}
h4{
    margin-left: 15px;
}